//------------------------------------------------------------------------------
// Color Palette (raflui colors)

$blue: #0095FF;
$green: #41A300;
$orange: #FF903C;

$grey-dark:   #3F5670;    $black: $grey-dark;
$grey-mid:    #7F929D;
$grey-light:  #D5D9E8;
$grey-ghost:  #FBFCFE;

// less used colors
$alert: #FF3C3C;



//------------------------------------------------------------------------------
// Font Config

$font-ui:   "Helvetica Neue", Helvetica, sans-serif;
$font-mono: "Monaco", "Courier New", monospace;

$weight-normal: 400;     $weight-regular: $weight-normal;
$weight-medium: 500;
$weight-bold:   700;


// Typography
$font-size-base: 16px;
$font-size-textbox: in-rems(18px);

@function in-rems($px) {
  // Convert a px unit (ie. from a design comp) into rems w/o doing math
  @return #{($px / $font-size-base)}rem;
}



//------------------------------------------------------------------------------
// Layout

$header-height: 50px;
$base-pad: 10px;
$body-height: calc(50vh - (#{$header-height} + #{$base-pad}));
$console-height: 100px;
$window-btn-height: 25px;
$window-btn-offset: 2px;