//------------------------------------------------------------------------------
// Abstract
$editor-default: 600px;

//------------------------------------------------------------------------------
// Editor

.resize-editor {
  position: relative;
  width: $editor-default; 
  height: $editor-default * (2/3);
  max-width: 100%;
  margin: 0 auto;

  &.resize--resizing {
    .resizer,
    .resizer:hover {
      cursor: -webkit-grabbing;
    }
  }

  .editor {
    width: 100%;
  }
}

.resizer {
  position: absolute;
  width: 12px;
  height: 12px;
  right: 0;
  bottom: 0;
  overflow: hidden;
  cursor: -webkit-grab;
  -webkit-user-select: none;

  @media all and (max-width: 767px) {
    display: none;
  }

  &:before,
  &:after {
    content: '';
    position: absolute;
    height: 1px;
    background: $grey-light;
    transform: rotate(-45deg);
    z-index: 1;
  }

  &:before {
    width: 6px;
    right: 2px;
    bottom: 4px;
  }

  &:after {
    width: 12px;
    left: -2px;
    bottom: 6px;
  }

  &:hover {
    cursor: -webkit-grab;
  }
}

.editor {
  @include flex(column);
  width: $editor-default;
  height: 100%;
  padding: 0 $base-pad $base-pad;
  overflow: hidden;
  box-sizing: border-box;
  background: $grey-ghost;
  border: 1px solid $grey-light;
  border-radius: 3px;

  .editor__header {
    @include flex(row, space-between, center);
    height: $header-height;
  }
  .editor__body {
    @include flex(row);
    flex-grow: 1;
    flex-basis: 100%;
    height: calc(100% - 10px);
  }

  &.editor--has-preview {
    .windowGroup {
      @include flex(column, flex-start, center);
      width: 40%;
      height: 100%;
    }
  }
}

.editor-logo {
  width: $logo-size;
  height: $logo-size - 2;

  svg {
    width: $logo-size;
    height: $logo-size;
    fill: $black;
  }
}

.editor-actions {
  @include flex(row, flex-end, center);
}