//------------------------------------------------------------------------------
// Abstract


//------------------------------------------------------------------------------
// Base

html, body {
  height: 100%;
}

pre {
  width: 100%;
  height: 100%;
}

//------------------------------------------------------------------------------
// Body Components
@include B(page) {
  height: 100vh;
  padding: 0 $base-pad $base-pad;
  overflow: hidden;
  box-sizing: border-box;

  @include E(header) {
    @include flex(row, space-between, center);
    height: $header-height;
    background: $grey-ghost;
  }
  @include E(body) {
    @include flex(row);
    height: $body-height;
  }
}

@include B(page-logo) {
  width: 120px;

  svg {
    width: 120px;
    fill: $black;
  }
}

@include B(windowGroup) {
  @include flex(column, flex-start, center);
  width: 40%;
  height: 100%;
}

//------------------------------------------------------------------------------
// Footer Components
