//------------------------------------------------------------------------------
// Abstract





//------------------------------------------------------------------------------
// Base

html, body {
  height: 100%;
}

//------------------------------------------------------------------------------
// Body Components
@include B(page) {
  @include E(body) {
    @include flex(row);
    height: 100vh;
  }
}

@include B(windowGroup) {
  @include flex(column, flex-start, center);
  width: 40%;
  height: 100vh;
}

//------------------------------------------------------------------------------
// Footer Components
