//------------------------------------------------------------------------------
// Abstract


//------------------------------------------------------------------------------
// Ace Editor

.ace_editor {
  margin: 0;
}


// stuff for resize. do better
.ace_content {
  height: 100%!important;
}

.ace_gutter-layer {
  height: 100%!important;
}