//------------------------------------------------------------------------------
// Abstract


//------------------------------------------------------------------------------
// Btn

@include B(btn) {
  padding: 0;
  @include M(inline) {
    display: block;
    margin-left: 10px;
    color: $black;
    background: none;
    border: none;
    font-family: $font-ui;
    font-size: in-rems(12px);

    &:hover {
      @include desc-underlines($black, $grey-ghost, 2px);
    }
  }

  @include M(window) {
    @include flex(row, $align:center);
    height: 100%;
    padding: 0 6px;
    color: $grey-mid;
    background: white;
    border: solid 1px $grey-light;
    text-align: center;
    font-size: in-rems(12px);
    border-radius: 3px;
    opacity: 0.8;

    span {
      display: inline-block;
      width: 10px;
      height: $window-btn-height;
      transform: translateX($window-btn-offset);
    }

    span:after {
      content: "";
      position: absolute;
      width: 0;
      height: 0;
      top: 8px;
      right: 0;
      border: 4px solid transparent;
      border-top-color: $black;
    }

    &:hover {
      opacity: 1;
    }

    &:focus {
      outline: none;
    }

    &.console-toggle {
      span:after {
        top: 6px;
        border-bottom-color: $black;
        border-top-color: transparent;
      }

      &.btn-active {
        position: absolute;
        right: 0;
        bottom: $console-height + 2px;

        span:after {
          top: 10px;
          border-bottom-color: transparent;
          border-top-color: $black;
        }
      }
    }

    &:not(:last-child) {
      margin-right: 4px;
    }
  }
}