//------------------------------------------------------------------------------
// Abstract

//------------------------------------------------------------------------------
// Window

@include B(window) {
  flex-grow: 1;
  width: 100%;
  height: calc(33% - (3/2 * #{$base-pad}));
  border: 1px solid $grey-light;
  -webkit-box-shadow: inset rgba(0,0,0,.05) 0 3px 10px;
  box-shadow: inset rgba(0,0,0,.05) 0 3px 10px;
  border-radius: 3px;
  -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  position: relative;

  &:hover {
    border-color: rgba($grey-mid, 0.5);
  }

  &:focus {
    border-color: $grey-mid;
  }

  &:not(:last-child) {
    margin-bottom: $base-pad;
  }

  @include M(closed) {
    height: $window-btn-height + (2 * $window-btn-offset);
    flex-basis: $window-btn-height + (2 * $window-btn-offset);
    flex-grow: 0;

    &:after {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 4;
      top: 0;
      left: 0;
      background: rgba(white, 0.85);
      border-radius: 3px;
    }

    @include BEM(btn, $mods:window) {
      span:after {
        top: 6px;
        border-top-color: transparent;
        border-bottom-color: $black;
      }
    }
  }
}

@include B(window-btns) {
  @include flex(row);
  position: absolute;
  height: $window-btn-height;
  top: $window-btn-offset;
  right: $window-btn-offset;
  z-index: 30;
}
